*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(235, 42, 42);
}
.wrapper{
    width: 380px;
    background: white;
    border-radius: 15px;
}
.title{
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}
.field{
    align-items: center;
}